.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.box {
  aspect-ratio: 1/ 1;
  display: flex;
  align-items: center;
}

.box {
  margin: 0rem 2px;
  cursor: pointer;
}