.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container {
  width: 50%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.question {
  margin: var( --fs-base) 0rem;
}

.subTitle {
  color: var(--disabledColor);
  font-size: var(--fs-sm);
  line-height: var(--fs-base);
  margin: var( --fs-base) 0rem;
  font-weight: var(--fw-bold);
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.responseInput {
  min-height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .responseInput {
      flex-direction: column;
      min-height: auto;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 2rem 0rem;
}

.responseContainer {
  border: 1px var(--lightGrey) solid;
  padding: 1rem;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.textResponseContainer {
  width: 100%
}

.scaleInputContainer {
 width: 100%;
}
.backButton {
  display: flex;
  align-items: center;
  background: none;
  border: none;
}

.back {
  font-weight: var(--fw-bold);
  font-size: var(--fs-sm);
  line-height: var( --fs-base);
  color: var(--darkGrey);
  cursor: pointer;
  margin-left: 0.5rem;
  margin-top: 0.25rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.questionTrackerHeader {
  font-size: var(--fs-sm);
  line-height: var(--fs-base);
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  color: var(--offBlack)
}

.questionNumberTracker {
  color: var(--offBlack);
  font-size: var(--fs-base);
  line-height: var(--fs-l);
}

.user {
  margin-left: var(--fs-base);
}