

.scaleInputContainer {
  width: max-content;
}
.responseDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-smBase);
  line-height: var(--fs-l);
  color: var(--black);
  
}

.responseText {
  font-weight: var(--fw-semibold) !important;
  font-size: var(--fs-smBase) !important;
  line-height: var(--fs-l) !important;
  font-weight: var(--fw-semibold);
}

.question {
  width: 50%;
  margin-right: 3rem;
  padding: 0rem 1rem;
}

.response {
  width: 50%;
  padding: 0rem 1rem;
}

.feedback li {
  padding: 1.5rem;
}

.feedback li:nth-child(1) {
  border-bottom: none;
}

.feedback ul li:nth-child(1) {
  border-top: none;
}

.users li,
.feedback li {
  border-bottom: var(--baseBorder);
}

.feedback li:last-child {
  border-bottom: none;
}

.header {
  font-weight: var(--fw-semibold);
  font-size: var(--fs-xxl);
  line-height: var(--fs-xxxl);
}

